body
 {
     background-image: url("shuttle.jpg");
     background-size: cover;
     color:white;

 }

 #mycanvas
        {
            margin-top: 30px;
            border-width: 10px;
            border-style: ridge;
        background-color: white;
        }
